{% extends 'basic.html' %}
{% block body %}
{% load static %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}
<div class="col-md-6 offset-md-3">
 <h3 class="text-center">List Of Employees</h3>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Employee Name</th>
      <th scope="col">Years of Experience</th>
      <th scope="col">Phone</th>
      <th scope="col">Salary</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
  {% for employee in employees %}
    <tr>
      <th scope="row">{{employee.id}}</th>
      <td>{{employee.name}}</td>
      <td>{{employee.years_of_exp}}</td>
      <td>{{employee.phone}}</td>
      <td>{{employee.salary}}</td>
      <td><a href="/empedit/{{employee.id}}/"><button class="btn btn-primary btn-sm">Edit</button></a></td>
       </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<body style="
      background:
        url('/static/images/map1.jpg');
      background-size: 1500px 805px;
      
    ">
{% else %}
<h2>Please Log in to Create a Post</h2>
{% endif %}
{% endblock body %}
