{% extends 'basic.html' %}
{% block body %}
<div class="container">
    <div class="jumbotron jumbotron-fluid" style="background:none;">
    
        <div class="container">
            <h6 class="display-8" style="color: white">WELCOME</h6>
            <h6 class="display-6" style="color: white">TO</h6>
            <h2 class="display-4" style="color: white" > SHILPA MEDICAL STORE</h2>
            <h6 class="display-9" style="color: yellow" > .........A hometown pharmacy with world class service........ </h6>
          
          
        </div>
    </div>
</div>
<body style="
      background:
        url('/static/images/map1.jpg');
      background-size: 1530px 920px;
      
    ">

{% endblock  %}
{% block css %}
.carousel-inner .carousel-item .carousel-caption{
color:black;
}
.card .card-body .card-text{
color:black;
}
{% endblock  %}